.card{
  border: 2px solid #eee;
  margin-top:70px;
  padding: 20px;
}

.mr-t20{
  margin-top: 20px;
}

.info{
  .label{
    width: 200px;
    font-size: 18px;
    display: inline-block;
    color: #666;
    text-align: left;
  }
}