<div class="container mr-t70">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card">
        <div class="text-center">
          <img src="https://via.placeholder.com/150" class="img-circle">
        </div>
        <div class="info">
          <div class="mr-t20">
            <span class="label text-capitalize">hero name:</span>
            <span> {{heroProfile.name}}</span>
          </div>
          <div class="mr-t20">
            <span class="label text-capitalize">description:</span>
            <span> {{heroProfile.description}}</span>
          </div>
          <div class="mr-t20">
              <span class="label text-capitalize">powers:</span>
              <span> {{heroProfile.powers}}</span>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>